# Ignorar la carpeta node_modules
/node_modules/

# Ignorar archivos y carpetas generadas por Symfony
/var/
/vendor/

# Ignorar archivos de entorno
.env
.env.local
.env.local.php
.env.test

# Ignorar configuraciones de IDEs
.idea/
/.vscode/
/.sublime-project
.sublime-workspace
