# Archivos de entorno
.env
.env.local
.env.local.php
.env.test
.env.test.local

# Symfony
/var/
/var/cache/
/var/log/
/var/sessions/
/var/test/
/vendor/
/public/build/

# Node
/node_modules/
/node_modules/package-lock.json

# IDEs y editores
.idea/
.vscode/
.sublime-project
.sublime-workspace

# Otros
.php_cs.cache
