@view-transition{
    navigation: auto;

}

::view-transition-group(*){
    animation-duration: 0.5s;
}

::view-transition-old(root){
    animation: slide-out-to-left 0.5s forwards;
}

::view-transition-new(root){
    animation: slide-in-from-right 0.5s forwards;
}

@keyframes slide-out-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }

}

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #292828 !important;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 1px;
}

p, span, a, input, label {
    font-weight: 400;
}


.back_btn {
    background: #ff2929;
    background: linear-gradient(90deg,rgba(255, 41, 41, 1) 50%, rgba(252, 69, 109, 1) 100%);
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}