<link rel="stylesheet" href="{{ asset('styles/footer.css') }}"> 

<footer class="footer-container">
      <div class="container">
        <div class="flex flex-col md:flex-row justify-between items-center gap-6">
          <div class="flex flex-col items-center md:items-start gap-4">
            <p class="text-lg font-semibold" style="font-size:2rem;">Contacto</p>
            <div clas="flex items-center gap-6">
                
                <p class=" md:inline">sanchezbisaack@gmail.com</p>
              <a
                href="https://www.linkedin.com/in/kisb03"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2 text-gray-300 hover:text-white transition-colors"
              >
                
                <span class="hidden md:inline">LinkedIn</span>
              </a>
              <a
                href="https://github.com/IsaackMD"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2 text-gray-300 hover:text-white transition-colors"
              >
                
                <span class="hidden md:inline">GitHub</span>
              </a>
            </div>
          </div>

          <div class="flex flex-col gap-2 text-center md:text-right text-sm text-gray-400">
            <p class="md:text-left">&copy; 2025 Kevin Isaac Sanchez Benitez.</p>
            <p class="md:text-right">Desarrollado por Kevin Isaac Sanchez Benitez</p>
          </div>
        </div>
      </div>
    </footer>